
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Grandstander:ital@1&display=swap');

.brand-logo {
  font-family: 'Grandstander', cursive;
}

a {
  color: black !important;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.myCard {
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 400px
}

.home {
}

.home-card {
  max-width: 800px;
  height: max-content;
  margin: 26px auto;
}